/* Estilos generales */
body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #ffcce6;
    color: #ff6699;
    text-align: center;
    overflow: hidden;
}
h1, h2, p {
    transition: color 0.3s ease;
}
h1:hover {
    color: #ff3333;
    text-shadow: 2px 2px #ff99cc;
}
p.hidden-message {
    display: none;
    color: #990033;
    font-size: 0.9em;
    cursor: pointer;
}

/* Estilo de elementos ocultos y glitch */
.hidden {
    display: none;
}
.glitch {
    font-size: 1.2em;
    color: #ffb3b3;
    position: relative;
    animation: glitch 1s infinite;
}
@keyframes glitch {
    0% { left: -1px; }
    20% { left: 1px; }
    40% { left: -2px; }
    60% { left: 2px; }
    80% { left: -1px; }
    100% { left: 0; }
}

/* Enlaces y botones */
.secret-link {
    color: #ff66b3;
    text-decoration: none;
}
.secret-link:hover {
    color: #ff1a8c;
    font-style: italic;
}
